[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit_option_menu = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
streamlit-folium = "*"
folium = "*"
geopy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
